<!DOCTYPE html>
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<!-- custom css -->
	<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>bread mania</title>
	{% endif %}
</head>
<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-sm">
			<!-- LEFT SIDE -->
			<a class="navbar-brand" href="{{ url_for('home') }}">köpa bröd</a>
			<ul class = navbar-nav>
				<li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Browse</a></li>
			</ul>
			
			<!-- RIGHT SIDE -->
			<ul class="navbar-nav ml-auto">
			<!--  LOGGED IN  -->
			{%if session['ID']%}
				<!-- LOGGED IN AND ADMIN -->				
				{%if session['admin'] == 1%}
					<li class="nav-item"><a class="nav-link" href="{{url_for('add_admin')}}">Add/remove admin</a></li>
				{%endif%}
				<li class="nav-item"><a class="nav-link" href="{{url_for('basket')}}">Basket({{ session['basket'] }})</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Account({{ session['ID'] }})</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">logout</a></li>			
				

			<!-- NOT LOGGED IN -->
			{%else%}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">register</a></li>
				<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">login</a></li>
			{%endif%}
			</ul>

	</nav>
	
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		<div class="container">
		{%for category, message in messages%}
			<div class="alert alert-{{ category }}">{{message}}</div>
		{%endfor%}
		</div>
	{% endwith %}
	<div class="container">
		{% block content %}{%endblock%}
	</div>
	<!-- LEAVE THEESE JS scripts at bottom of file -->
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
