{%extends "layout.html"%}
{%block content%}
	<fieldset class="card p-3">
		<legend class="w-auto">step 1</legend>
		<form method="POST" action="">
			<div class="form-group">
				<label>E-mail</label>
				<input class="form-control {%if emailmsg%}is-invalid{%endif%}" type="text" name="email" {% if email %} value="{{ email }}" {% else %} placeholder="johndoe@mail.com" {% endif %}pattern="[^\s]+@[^\s]+\.[^\s]+" required>	
				{%if emailmsg%}<div class="invalid-feedback">{{emailmsg}}</div>{%endif%}
			</div>
			
			
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="pass" class="form-control {%if passwmsg%}is-invalid{%endif%}">
				{%if passwmsg%}<div class="invalid-feedback">{{passwmsg}}</div>{%endif%}
			</div>
				
			<button type="submit" class="btn btn-primary">Login!</button>
		</form>
	</fieldset>
	Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
{%endblock content%}