{%extends "layout.html"%}
{%block content%}
    order id: {{order.id}}<br>
    status: {{order.orderStatus}}<br>
    Date: {{order.orderDate}}<br>
    userID: {{order.userID}}<br>
    <!--transaction_keys = 'productID', 'amount', 'cost'-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">productID</th>
                <th scope="col">amount</th>
                <th scope="col">cost</th>
            </tr>
        </thead>
        <tbody>
            {%for transaction in transactions%}
                <tr>
                    <th scope="row"><a href="{{ url_for('product', productID=transaction.productID) }}"><h4>{{transaction.productID}}</h4></a></th>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.cost}}</td>
                </tr>
            {%endfor%}
            
        </tbody>
    </table>
    {%if isAdmin%}
        <a href="{{url_for('order_manager', Shipped='on', Processing='on', Pending='on')}}">Go back to manager</a>
    {% endif %}

   

{%endblock content%}
