{%extends "layout.html"%}
{%block content%}
	<!-- VARIABLES
	product
		pName
		stock
		price
		descr
		pic
	---->
	<div class="row">
		<div class="col">
			{%if product.pic%}
				<img src="{{ product.pic }}" alt="{{ product.pic }}" class="img-thumbnail img-fluid">
			{%else%}
				<img src="https://cdn0.iconfinder.com/data/icons/foods-with-a-mustache/1200/fru-28-512.png" class="img-thumbnail img-fluid">
			{%endif%}
		</div>
		<div class="col">
			{%if session['admin'] == 1%}
				<form method="post" action="">
					product name<br>
					<input type="text" name="name" value="{{ product.pName }}" required><br>
					description<br>
					<textarea name="description" class="form-control">{{ product.descr }}</textarea><br>
					stock<br>
					<input type="number" name="stock" value="{{product.stock}}" required><br>
					price<br>
					<input type="number" name="price" value="{{ product.price }}" required><br>
					pic adress<br>
					<input type="text" name="pic" value="{{ product.pic }}"><br>
					discontinued?:
					<input type="checkbox" name="discontinued" 
					{%if product.discontinued == 1%} checked{%endif%}
					>
					<button type="submit" class="btn" name="edit">save changes</button>
				</form>
			{%else%}
				<h1>{{ product.pName }}</h1>
				{% if product.descr %}
					<p>{{ product.descr }}</p>	
				{% endif %}
				<p>stock: {{product.stock}}</p>
				<p>{{product.price/100}}kr</p>
				<p>Rating: {{rating}}</p>
				{% if product.discontinued == 1%}
					this product is discontinued
				{% endif %}
			{%endif%}
			{% if session['ID'] and product.discontinued == 0%}
			<form method="post" action="">
				{% if my_rating == 1%}
					<button type="submit" class="btn btn-primary" name="up">updoot</button>
					<button type="submit" class="btn" name="down">downdoot</button>
				{% elif my_rating == 0 %}
					<button type="submit" class="btn" name="up">updoot</button>
					<button type="submit" class="btn btn-danger" name="down">downdoot</button>
				{% else %}
					<button type="submit" class="btn" name="up">updoot</button>
					<button type="submit" class="btn" name="down">downdoot</button>
				{% endif %}
				<input type="number" name="quantity" value="1" required>
				<button type="submit" class="btn" name="buy">place in cart</button>
			</form>
			{%endif%}
		</div>
	</div>
	{%for comment in comments%}
	<div class="item">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col"><b>{{comment.email}}, {{comment.tStamp}}</b></div>
				</div>
				<div class="row">
					<div class="col textarea">{{comment.comment}}</div>
				</div>
				{%if session['admin'] == 1%}
					<form method="post" action="">
						<input type="hidden" name="comment_ID" value="{{comment.id}}">
						<button type="submit" class="btn btn-danger" name="delete">delete</button>
					</form>
				{%endif%}
			</div>
		</div>
	</div>
	{%endfor%}
	{% if session['ID'] and product.discontinued == 0%}
	<fieldset>
		<legend>Comment on this product</legend>
		<form method="post" action="">
			<textarea name="comment" style="width:100%;
			height:100px;" required></textarea>
			<button type="submit" class="btn btn-success" name="post">post</button>
		</form>
	</fieldset>
	{%elif not session['ID']%}
	Log in to comment
	{%endif%}

	
{%endblock content%}
