{%extends "layout.html"%}
{%block content%}
	<!-- VARIABLES
	product
		pName
		stock
		price
		descr
		pic
	---->
	<div class="row">
		<div class="col">
			<img src="{{ product.pic }}" alt="imagine bread being here" class="img-thumbnail img-fluid">
		</div>
		<div class="col">
			<h1>{{ product.pName }}</h1>
			<p>{{ product.descr }}</p>
			<div class="row align-items-end">
				<div class="col">stock: {{product.stock}}</div>
				<div class="col">{{product.price/100}}kr BUY</div>
			</div>
		</div>
	</div>
	
{%endblock content%}
